## Copy this as application.properties in this folder,
# and change credentials if required for your local setup

server.port = ${PORT:8080}
spring.jpa.hibernate.ddl-auto=update
spring.datasource.driver-class-name=org.postgresql.Driver

spring.datasource.url=jdbc:postgresql://localhost:5432/ecse321-db
spring.datasource.username=postgres
spring.datasource.password=postgres
